.container-form{
  min-width: 100px;
  max-width: 500px;
  padding-top: 100px;
  margin: 0 auto;
  .input-full-width{
    width: 100%;
  }
  div{
    margin: 2em 0 0.5em 2em;
  }
}

.card{
  max-width: 500px;
}
