<form class="container-form">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Entre com seus dados abaixo</mat-card-subtitle>
    </mat-card-header>
    <mat-form-field class="input-full-width">
      <input type="email" matInput placeholder="E-mail" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-hint>Entre com seu e-mail!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor entre com um e-mail valido!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <input type="password" matInput placeholder="Senha" [formControl]="senhaFormControl">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint>Entre com a senha!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Por favor entre com a senha!
      </mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="login()" >Entrar</button>
      <button mat-button (click)="cancela()">Cancelar</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <div> Entre com E-mail:
        <strong>user@user.com</strong> e senha:
        <strong>senha</strong>
      </div>
    </mat-card-footer>
  </mat-card>
</form>

