<div class="container-columm">
  <form >
    <p>
      <mat-form-field>
        <mat-select  placeholder="Que amigo voce está?" [(value)]="Selected" (valueChange)="criaOption($event, $event.value);" >
          <mat-option *ngFor="let amigo of amigos" [value]="amigo.id">
            {{amigo.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <span>{{Selected}}</span> -->
    </p>
    <!-- <button mat-button (click)="criaOption($event, Selected);" class="submit-btn" type="submit">Submit</button> -->
  </form>
  <div #gmap style="width:100%;height:400px"></div>
</div>
