a{
  margin: 5px;
}

.rightpos{
  flex: 1 1 auto;
}

.container-columm{
  padding: 1.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  > form {
    p{
      display: flex;
      flex-direction: column;
    }
  }
   > * {
      width: 100%;
      margin: 1em;
    }
}
